.end-align {
    position: absolute;
    right: 0;
}

.center-align {
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
    border: 10px solid palevioletred;
}

.mat-spinner {
    float: left;
    width: 24px;
    height: 24px;
    margin: 5px 10px 0px 0px;
}

@media (min-width: 765px) and (max-width: 2000px) {
    img {
        width: 200px;
    }
}