.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.login-card {
    height: 1200px;
    width: 100%;
}

.end-align {
    position: absolute;
    right: 0;
}

.center-align {
    display: flex;
    justify-content: center;
}

.balance {
    margin-top: 12px;
    margin-right: 80px;
    font-weight: 700;
    font-size: 12px;
}

@media (min-width: 765px) and (max-width: 2000px) {
    .login-card {
        height: auto;
        width: 80%;
        margin: 50px 0px 30px 0px;
    }
}