<button class="end-align m-2" (click)="cancel()" mat-mini-fab color="accent">
  <mat-icon>close</mat-icon>
</button>
<div class="m-4">
  <div *ngIf="data.state !== 'accept'">
    <h4 *ngIf="data.state == 'win'">Claim Win</h4>
    <h4 *ngIf="data.state == 'report'">Report winner</h4>
    <mat-divider class="mb-3"></mat-divider>
    <form (ngSubmit)="onFileUpload()" enctype="multipart/form-data">
      <input type="file" name="file" (change)="onFileSelected($event)" />
      <button mat-stroked-button [disabled]="!selectedFile" color="primary" type="submit">Upload</button>
    </form>
  </div>
  <div *ngIf="data.state == 'accept'" class="text-center">
    <h6 style="margin-top: 60px;">Do you realy agree to opponents win ?</h6>
    <button class="mt-3" mat-stroked-button color="primary" type="submit">Agree</button>
  </div>
</div>
